p {
    font-size: 1.6rem;
}

.container {
    margin: 0 auto;
    max-width:1000px;
    padding: 40px;
}

.form {
    display:grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    text-align: left;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.button {
    background-color: rgba(41, 44, 52, 0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(41, 44, 52, 0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(41, 44, 52, 0.98);
}

.btn-disabled {
    background-color: rgb(77, 79, 86);
    color: gray;
    padding: 1rem 2rem;
    border: 1px solid rgb(77, 79, 86);
    border-radius: 20px;
    font-size: 1.4rem;
    height: 4rem;
}

.movie-title {
    display: flex;
    padding: 1.2rem;
}

.button-nominate {
    height: 4rem;

}

.wrapper-movies-nominations {
    display: flex;
}

.movie-results-title {
    border-bottom: 1px solid rgba(22, 31, 39, 0.26);
    margin-bottom: 3rem;
}

.movie-results-title-warning {
    border-bottom: none;
}

.list-title {
    font-size: 2rem;
    font-weight: 600;
}

.movie-list {
    border: 1px solid rgba(22, 31, 39, 0.26);
    box-shadow: -2px 3px 15px black;
    margin-top: 4rem;
    width: 50%;
}

.nomination-list {
    border: 1px solid rgba(22, 31, 39, 0.26);
    box-shadow: 2px 3px 15px black;
    margin-left: 1rem;
    margin-top: 4rem;
    width: 50%;
}

.warning {
    border: 1px solid gray;
    padding: 1rem;
    /*border-radius: 10px;*/
    background-color: rgba(255, 0, 0, 0.38);
}

@media (min-width:786px){
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }

    .input {
        margin-bottom: 0;
    }
}
